@font-face {
  font-family: Montserrat;
  src: local('Montserrat'),
  url(./assets/fonts/Montserrat-Medium.eot?) format('eot'),
  url(./assets/fonts/Montserrat-Medium.ttf) format('trutype'),
  url(./assets/fonts/Montserrat-Medium.woff2) format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Montserrat;
  src: local('Montserrat'),
  url(./assets/fonts/Montserrat-Regular.eot?) format('eot'),
  url(./assets/fonts/Montserrat-Regular.ttf) format('trutype'),
  url(./assets/fonts/Montserrat-Regular.woff2) format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Montserrat;
  src: local('Montserrat'),
  url(./assets/fonts/Montserrat-SemiBold.eot?) format('eot'),
  url(./assets/fonts/Montserrat-SemiBold.ttf) format('trutype'),
  url(./assets/fonts/Montserrat-SemiBold.woff2) format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Tinos;
  src: local('Tinos'),
  url(./assets/fonts/Tinos.eot?) format('eot'),
  url(./assets/fonts/Tinos.ttf) format('trutype'),
  url(./assets/fonts/Tinos.woff2) format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
